name: Sample CI
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  build-ui:
    name: Build UI
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: 'ui/extensions/charlotte-toolkit-ui/package-lock.json'
      - name: Install dependencies
        run: npm ci
        working-directory: ui/extensions/charlotte-toolkit-ui
      - name: Run unit tests
        run: npm run test:ci
        working-directory: ui/extensions/charlotte-toolkit-ui
      - name: Build React app
        run: npm run build
        working-directory: ui/extensions/charlotte-toolkit-ui
